@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Rental Management Proof of Concept (POC)</h1>
    <p>This is a work in progress. To start, select a menu item at the top.</p>
</div>
